.App {
  text-align: center;
}

.App-header {
  background-color: #3b404b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{
  background-color: 2E2E2E;
}

.img-original{
  width: 150px;
  height: 150px;
  max-width: none;
}

.para{
  font-size: 14px !important;
  color: #656567;
}

.name{
  color: #000000;
}

.detail{
  color: #656567;
}

.card{
  height: auto;
  width: 25rem;
}

@media (max-width: 576px) {
  .card{
    width: 20rem;
  }
  .card-head{
    margin-top: 5px !important;
  }
  .para{
    margin-top: 5px;
  }
  
}

@media (max-width: 420px) {
  .card{
    width: 17rem;
    font-size: 12px;
  }
  .para{
    font-size: 12px !important;
  }
  .detail{
  font-size: 12px !important;
  }
}

